{
  "root": true,
  "extends": [
    "next",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "quotes": [2, "single", { "avoidEscape": true }],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-unnecessary-condition": "off",
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/await-thenable": "error",
    "react/no-array-index-key": 2,
    "react/react-in-jsx-scope": "off",
    "react/no-this-in-sfc": 2,
    "react/no-unstable-nested-components": 2,
    "react/jsx-child-element-spacing": 2,
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/jsx-tag-spacing": [
      2,
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "allow"
      }
    ],
    "react/self-closing-comp": 2,
    "react/display-name": "off",
    "react/no-string-refs": 2,
    "no-multi-spaces": 2,
    "spaced-comment": [2, "always"],
    "no-trailing-spaces": "error",
    "func-call-spacing": 2,
    "no-spaced-func": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-await-in-loop": "error",
    "no-duplicate-imports": 2,
    "prefer-const": 1,
    "no-var": 1,
    "no-self-compare": 2,
    "space-before-blocks": "error",
    // "key-spacing": [
    //   "error",
    //   {
    //     "align": {
    //       "beforeColon": true,
    //       "afterColon": true,
    //       "on": "colon"
    //     }
    //   }
    // ],
    "no-multiple-empty-lines": ["error", { "max": 2 }]
    // "spaced-line-comment": 2 > sayfanin yorum satiri ile baslamasi
  },
  "ignorePatterns": [
    "public/assets/js",
    "purgecss.config.js",
    "next.config.js",
    "tailwind.config.js",
    "postcss.config.js",
    "extract-css.js",
    "utils/db/google-provider.js",
    "packages/*",
    "./lib"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
