@tailwind base;
@tailwind components;
@tailwind utilities;
@import './da-vinci-ui.css';

input[type='time'].hide-indicator::-webkit-calendar-picker-indicator {
  display: none;
}

/* add scrollbar-hide to components */
@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
